RewriteEngine On

Header set Cache-Control "no-cache, no-store, must-revalidate"

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^api/(.*)$ api_controller.php?path=$1 [QSA,L]